header {
  display: flex;
  justify-content: center;
  gap: 0 30px;
  align-items: center;
  flex-wrap: wrap;
}

.appTitle {
  font-size: 24px;
  font-weight: 600;
  cursor: default;
}

nav {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.title {
  margin-top: 2rem;
  font-weight: 100;
  cursor: default;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  text-align: center;
  padding: 6rem 0 1rem;
  cursor: default;
}

@media (min-width: 459px) {
  header {
    justify-content: space-between;
  }

  footer {
    text-align: left;
  }

  .title {
    margin-top: 0;
    text-align: start;
  }
}
