.container {
  flex: 1 1 330px;
  color: #f0f0f0;
  white-space: nowrap;
}

table {
  width: 100%;
  border-spacing: 0;
}

th,
td {
  padding: 20px;
  text-align: left;
  cursor: default;
}

.colBar {
  background-color: #1a1a1a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.actions {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

@media (max-width: 568px) {
}
