.manipulationSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.itemName {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
}

.btnsSection {
  display: flex;
  gap: 15px;
}

.miniCardsContainer {
  flex: 1 0 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 30px 0;
}

.infoSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 2rem;
}
